<html>
<head>
<script src="/js/jquery.min.js"></script>

	<script>
	
		function Cancel(id){
			//window.location.href = "/edit/" + id;
			window.location.href = "/";
		}

	</script>

</head>
<body>
	<h1><%= title %></h1>

	<a href="/">Back</a>
	<br><br> 

	<form action="/update" method="post">
		
		<input type="hidden" name="hdID" value="<%= rows[0].C_ID %>">

		<table>
			<tr>
				<td>
					Name
				</td>
				<td>
					<input type="text" name="txtName" placeholder="Enter Name!" value="<%= rows[0].C_Name %>"  style="height:30px;" required="required">
				</td>
			</tr>
			<tr>
				<td>
					Phone &nbsp;&nbsp;
				</td>
				<td>
					<input type="text" name="txtPhone" placeholder="Enter Phone!" value="<%= rows[0].C_Phone %>"  style="height:30px;" required="required">
				</td>
			</tr>
			<tr>
				<td>

				</td>
				<td>
					<input type="submit" value="Update">
					<input type="button" value="Cancel" id="btnCancel" onclick="Cancel(<%= rows[0].C_ID %>)">					
				</td>
			</tr>
		</table>		

	</form>

</body>
</html>